run = "streamlit run app.py --server.port 8080 --server.address 0.0.0.0 --server.headless true --server.enableCORS false --server.enableXsrfProtection false"

entrypoint = "app.py"

modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["streamlit", "run", "app.py", "--server.port", "8080", "--server.address", "0.0.0.0", "--server.headless", "true"]
